ngx-charts-gauge {
    color: #ffffff;
}

::ng-deep ngx-charts-gauge .gauge .gauge-tick text {
    fill: rgba(0, 0, 0, .5);
}

::ng-deep ngx-charts-gauge .gauge .gauge-tick path {
 
    stroke: rgba(0, 0, 0, .5);
}
.chart-container {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 16px;
    border-radius: 8px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

ngx-charts-gauge {
    display: inline-block;
}
