div#background-container {
    width: 100%;
    height: 100%;
  background: repeating-linear-gradient(-45deg, #d7d8a1, #d7d8a1 10px,#7ec7d2 10px,#7ec7d2 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.villager-row {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
}

.villager-image {
  width: 64px;
  height: 64px
}