.timeline-container {
    margin-bottom: 16px;
    margin-left: 16px;
    border-left: 2px solid rgba(0, 0, 0, .2);
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    width: 350px;
    height: 150px;
}