<!-- {{ result | json }} -->
<div id="wrapper">
  <div id="login" *ngIf="!connected">
    <form (ngSubmit)="connectToStatus()">
      <input type="text" class="form-control" id="host" required [(ngModel)]="host" name="host">
      <input type="number" class="form-control" id="port" required [(ngModel)]="port" name="port">
      <button type="submit" class="btn btn-success">Connect</button>
    </form>

  </div>
  <div id="content" *ngIf="connected">
    <div>
      <app-cpu-chart [hwData]="getComponentByIcon('images_icon/cpu.png')"></app-cpu-chart>
    </div>
    <div>
      <app-memory-chart [hwData]="getComponentByIcon('images_icon/ram.png')"></app-memory-chart>
    </div>
    <div>
      <app-gpu-chart [hwData]="getComponentByIcon('images_icon/nvidia.png')"></app-gpu-chart>
    </div>
    <div class="bottom-row">
      <div>
        <app-cpu-timeline [hwData]="getComponentByIcon('images_icon/cpu.png')"></app-cpu-timeline>
      </div>
      <div>
        <app-temperature-monitor [cpuData]="getComponentByIcon('images_icon/cpu.png')"
          [gpuData]="getComponentByIcon('images_icon/nvidia.png')"></app-temperature-monitor>
        <app-local-time></app-local-time>
      </div>
      <div>
        <app-network-monitor [hwData]="getComponentByName('Ethernet')"></app-network-monitor>
        <app-local-weather></app-local-weather>
      </div>
    </div>

  </div>
  <div id="background">
    <app-background-pictures></app-background-pictures>
  </div>
</div>

<div id="logout-button" (click)="disconnectFromMonitor()"><i class="material-icons">exit_to_appp</i></div>